<a id="menu-toggle" onclick='$("#sidebar-wrapper").toggleClass("active")' class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<a id="menu-close" onclick='$("#sidebar-wrapper").toggleClass("active")' class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
		<li class="sidebar-brand">
			<a href="#top" onclick="goto('#top')">Menu</a>
		</li>
		<li>
			<a href="#top" onclick="goto('#top')">Home</a>
		</li>
		<li>
			<a href="#bus_services" onclick="goto('#bus_services')">Bus Services</a>
		</li>
		<li>
			<a href="#other_services" onclick="goto('#other_services')">Other Services</a>
		</li>
		<li>
			<a href="#about" onclick="goto('#about')">About</a>
		</li>            
		<li>
			<a href="#contact" onclick="goto('#contact')">Contact</a>
		</li>
	</ul>
</nav>